<div class="container-fluid p-0">
    <div class="header d-flex justify-content-center">
        <span class="headerText">Category</span>
    </div>
    <div class="itemContainer">
        <div class="cardContainer">
            <div (click)="redirect('/print')" class="card mx-2">
                <div class="cardImgContainer d-flex align-items-center justify-content-center">
                    <img class="cardImg" src="assets/3323088.jpg" alt="image">
                </div>
                <div class="cardtext d-flex justify-content-center">
                    <span class="cardTitle">Print</span>
                </div>
            </div>
            <div class="card mx-2">
                <div class="cardImgContainer d-flex align-items-center justify-content-center">
                    <img class="cardImg" src="assets/8550547.jpg" alt="image">
                </div>
                <div class="cardtext d-flex justify-content-center">
                    <span class="cardTitle">Food</span>
                </div>
            </div>
            <div class="card mx-2">
                <div class="cardImgContainer d-flex align-items-center justify-content-center">
                    <img class="cardImg" src="assets/2101.i039.007.laundry washing isometric.jpg" alt="image">
                </div>
                <div class="cardtext d-flex justify-content-center">
                    <span class="cardTitle">laundry</span>
                </div>
            </div>
            <div class="card mx-2">
                <div class="cardImgContainer d-flex align-items-center justify-content-center">
                    <img class="cardImg" src="assets/3971330.jpg" alt="image">
                </div>
                <div class="cardtext d-flex justify-content-center">
                    <span class="cardTitle">grocery</span>
                </div>
            </div>
            <div class="card mx-2">
                <div class="cardImgContainer d-flex align-items-center justify-content-center">
                    <img class="cardImg" src="assets/3911318.jpg" alt="image">
                </div>
                <div class="cardtext d-flex justify-content-center">
                    <span class="cardTitle">Hackathon</span>
                </div>
            </div>
            <div class="card mx-2">
                <div class="cardImgContainer d-flex align-items-center justify-content-center">
                    <img class="cardImg" src="assets/3952464.jpg" alt="image">
                </div>
                <div class="cardtext d-flex justify-content-center">
                    <span class="cardTitle">Event</span>
                </div>
            </div>
        </div>
    </div>
</div>
