<div *ngIf="!showProfileDetails && !showOrderDetails" class="container-fluid">
  <span (click)="navigateTodashboard()" class="heading"
    ><i class="fas fa-chevron-left"></i> Profile</span
  >

  <div class="main-part">
    <div class="profile-photo">
      <img
        class="pro-photo"
        src="data:image/png;base64,{{ profileDetails.data.profileImage }}"
        style="border-radius: 100%; height: 100px"
      />
      <div class="details">
        <h4 class="name">
          {{ profileDetails.data.firstName }} {{ profileDetails.data.lastName }}
        </h4>
        <h6 class="email">{{ profileDetails.data.email_id }}</h6>
        <button type="button" class="btn btn-light balance">₹ 0</button>
      </div>
    </div>
    <h5 class="category">PROFILE</h5>
    <div
      (click)="showDetails()"
      class="profile-details justify-content-between"
    >
      <div class="sub-pro-details">
        <i class="fas fa-user" style="margin-right: 20px"></i>

        <div class="subheading">
          <h5>Profile Details</h5>
          <a><h6>View and Edit details</h6></a>
        </div>
      </div>
      <a><i class="fas fa-chevron-right" style="color: black"></i></a>
    </div>
    <hr class="light" />
    <h5 class="category">Account</h5>
    <!-- <div class="bank-details">
      <div class="sub-bank-details">
        <i class="fas fa-money-check-alt" style="margin-right: 20px"></i>
        <div class="subheading">
          <h5>Bank Details</h5>
          <h6>Add bank, remove bank, pay later</h6>
        </div>
      </div>
      <i class="fas fa-chevron-right"></i>
    </div> -->

    <div (click)="showOrderDetailsFun()" class="history">
      <div class="sub-history-details">
        <i class="fas fa-history" style="margin-right: 20px"></i>
        <div class="subheading">
          <h5>History</h5>
          <h6>view last transactions</h6>
        </div>
      </div>
      <i class="fas fa-chevron-right"></i>
    </div>

    <hr class="light" />

    <h5 class="category">SETTINGS</h5>
    <div class="settings">
      <!-- <div class="setting1">
        <div class="sub-setting">
          <i class="fas fa-bell" style="margin-right: 20px"></i>
          <div class="subheading">
            <h5>Push Notifications</h5>
            <h6>On</h6>
          </div>
        </div>
        <i class="fas fa-toggle-on"></i>
      </div> -->

      <div class="setting2">
        <div class="sub-setting">
          <i class="fas fa-envelope-open-text" style="margin-right: 20px"></i>
          <div class="subheading">
            <h5>Email Notifications</h5>
            <h6>On</h6>
          </div>
        </div>
        <i class="fas fa-toggle-on"></i>
      </div>

      <div class="setting3">
        <i class="fas fa-file-contract" style="margin-right: 20px"></i>
        <div class="subheading">
          <h5>Terms of Use</h5>
        </div>
      </div>
      <div class="setting3 justify-content-center">
        <button (click)="logOutUser()" type="button" class="btn btn-danger">
          Logout
        </button>
      </div>
      <!-- <button class="logOutBtn" (click)="logOutUser()" class="setting3">
              <i class="fas fa-file-contract" style="margin-right:20px;"></i>
              <div class="subheading">
                <h5>Logout</h5>
              </div>
            </button> -->
    </div>
  </div>
</div>
<div *ngIf="showProfileDetails" class="container-fluid">
  <span class="heading"
    ><a
      ><i
        (click)="showDetails()"
        class="fas fa-chevron-left"
        style="color: white"
      ></i>
    </a>
    Profile Details</span
  >

  <div class="main-part">
    <div class="profile-photo">
      <section
        class="d-flex flex-column justify-content-center align-items-center"
        id="container"
      >
        <div class="card-body">
          <div class="container mt-4 p-0">
            <div class="row imgCont px-3">
              <div
                class="col-lg-12 ImageContainer column"
                #labelImport
                for="frontFile"
                (click)="fileInput.click()"
              >
                <div class="textContainer my-2">
                  <div class="galleryImageWrapper my-1">
                    <span
                      class="d-flex flex-row justify-content-center align-items-center"
                    >
                      <div class="galleryImagePosition">
                        <i
                          *ngIf="fileName == undefined"
                          class="fa-solid textPosition fa-2x fa-upload"
                        ></i>
                        <i
                          *ngIf="!!fileName"
                          class="fa-solid textPosition fa-2x fa-check"
                        ></i>
                        <input
                          #fileInput
                          (change)="handleChange($event)"
                          type="file"
                          hidden
                          id="frontFile"
                          accept=".jpg,.png"
                        />
                      </div>
                      <div for="file" *ngIf="true" class="textPosition mx-2">
                        <span *ngIf="fileName == undefined">
                          Select Profile Picture
                        </span>
                        <span class="fileName" *ngIf="!!fileName">
                          {{ fileName }}
                        </span>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="text-center col-md-8">
              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="4 / 4"
                [resizeToWidth]="256"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
              ></image-cropper>
            </div>
          </div>
        </div>
        <button
          (click)="submitProfilePic()"
          type="button"
          class="btn btn-primary"
        >
          Upload
        </button>
        <!-- <button (click)="submitProfilePic()">Upload</button> -->
      </section>
    </div>

    <div class="profile-details">
      <div class="sub-pro-details">
        <i class="fas fa-user" style="margin-right: 20px"></i>

        <div class="subheading">
          <h6>Profile</h6>
          <input
            class="name-input"
            type="text"
            placeholder="{{ profileDetails.data.firstName }} {{
              profileDetails.data.lastName
            }}"
          />
        </div>
      </div>
    </div>

    <div class="profile-details">
      <div class="sub-pro-details">
        <i class="fas fa-at" style="margin-right: 20px"></i>

        <div class="subheading">
          <h6>Email-Id</h6>
          <input
            class="email-input"
            type="text"
            placeholder="{{ profileDetails.data.email_id }}"
          />
        </div>
      </div>
    </div>
    <div class="profile-details">
      <div class="sub-pro-details">
        <i class="fas fa-phone-alt" style="margin-right: 20px"></i>

        <div class="subheading">
          <h6>Contact</h6>
          <input
            class="contact-input"
            type="number"
            placeholder="{{ profileDetails.data.contact }}"
          />
        </div>
      </div>
    </div>
    <div class="profile-details">
      <div class="sub-pro-details">
        <i class="fas fa-lock" style="margin-right: 20px"></i>

        <div class="subheading">
          <h6>Password</h6>
          <input class="password-input" type="text" placeholder="xxxxxxxxxx" />
        </div>
      </div>
    </div>
    <div class="save">
      <button type="button" class="btn btn-primary btn-save-changes">
        Save changes
      </button>
    </div>
  </div>
</div>
<div *ngIf="showOrderDetails" class="orderDetails container-fluid">
  <span class="heading"
    ><a
      ><i
        (click)="showOrderDetailsFun()"
        class="fas fa-chevron-left"
        style="color: white"
      ></i>
    </a>
    Order History</span
  >
  <div class="main-part">
    <div
      class="orderHistoryWrapper d-flex flex-column justify-content-center align-items-center pt-4 px-3"
    >
      <div
        class="orderHistoryCard d-flex flex-row justify-content-between w-100"
      >
        <div class="itemList">Sr. No.</div>
        <div class="itemList">Quantity</div>
        <div class="itemList">Price</div>
        <div class="itemList">Status</div>
      </div>
      <div
        *ngFor="let item of OrderList"
        class="orderHistoryCard d-flex flex-row justify-content-between w-100"
      >
        <div class="itemList">{{ item.id + 1 }}</div>
        <div class="itemList">{{ item.totalPage }}</div>
        <div class="itemList">₹{{ item.totalCost }}</div>
        <div class="itemList">
          <span *ngIf="item.docStatus == '0'" class="pending">Pending</span>
          <span *ngIf="item.docStatus == '1'" class="completed">Completed</span>
          <span *ngIf="item.docStatus == '2'" class="cancelled">Cancelled</span>
        </div>
      </div>
    </div>
  </div>
</div>
