<nav class="navbar fixed-bottom navbar-light bg-light navbar-shadow" style="padding:0;" >
    <div class="container-fluid">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']" ><i class="nav-icon fas fa-2x fa-home"></i></a>
          <a class="nav-link" href="#" [routerLink]="['/home']"><i class="nav-icon fas fa-2x fa-cart-plus"></i></a>
          <a class="nav-link" href="#" [routerLink]="['/login']"><i class="nav-icon fas fa-2x fa-user"></i></a>
          <a class="nav-link" href="#" [routerLink]="['/home']"><i class="nav-icon fas fa-2x fa-bell"></i></a>
      </div>
  </nav>

  <div class="welcome">
    <div class="greet">
        <h1>Good morning!</h1>
        <h2 >User101</h2>
    </div>
    <div class="weather">
        <i class="fas fa-3x fa-cloud-sun" style="color: white;"></i>
    </div>
  </div>