<nav
  class="navbar fixed-bottom navbar-light bg-light navbar-shadow"
  style="padding: 0"
>
  <div class="container-fluid">

    <a class="nav-link active" aria-current="page" [routerLink]="['/home']">
        <div class="icon">
            <i class="fa-solid fa-house-user"></i>
        </div>
        <div class="name">
            <p>
                Home
            </p>
        </div>

      </a>
    <a class="nav-link active" aria-current="page" [routerLink]="['/home']">
        <div class="icon">
            <i class="fa-solid fa-message"></i>
        </div>
        <div class="name">
            <p>
                contactUs
            </p>
        </div>

      </a>
             <a class="nav-link" href="#"
             >
             <div class="icon">

                 <i class="fa-solid fa-compass"></i>
                </div>
                <div class="name">
                    <p >
                        Explore
                    </p>
                </div>
                </a>

            <a class="nav-link" href="#" 
              >
              <div class="icon">
                  <i class="fa-regular fa-user"></i>
              </div>
              <div class="name">
                    <p>
                        Profile
                    </p>
              </div>
            
            </a>
        
    
  </div>
</nav>