<!-- <div class="cartHeader">
  <div (click)="navigate()" class="backBtn">
    <i class="fa fa-arrow-left"></i> Back
  </div>
  <div class="cartText">My Cart</div>
</div> -->
<div class="container-fluid m-0 p-0 row">

  <div class="imgContainer d-none d-md-block col-12 col-md-6">
    <img width="100%" src="assets/4702120.jpg" alt="" />
  </div>
  <div class=" col-12 col-md-6">
    <div class="cartItems">
      <div id="item{{ i }}" *ngFor="let item of cartList[0]; index as i" class="items align-items-center">
        <i class="fa fa-print"></i>
        <div class="cartItmTxt">
          <span class="itemName">{{ item.pdfName }}</span>
          <span class="cartItmTxt2">Page : {{ item.totalPage }}</span>
          <div class="price">
            price :
            <i class="fa fa-rupee"></i>
            {{ item.totalCost }}
          </div>
        </div>
      
        <i (click)="removeItem(item.id)" class="fa-solid fa-trash-can"></i>
      </div>
    </div>
    <div class="checkoutButton">
      <div class="pric">
        <p style="margin: 23px">
          <i class="fa fa-rupee"></i> {{ totalCheckoutPrice }}
        </p>
      </div>
      <div (click)="createPayment()" class="btn">Checkout</div>
    </div>
    
    
  </div>
  
  <!-- <div class="promoCode">
    <input type="text" name="promo" placeholder="Have a promo code?" />
    <button type="button">APPLY</button>
  </div> -->
  
  
</div>
