/* .services {
  display: flex;
  justify-content: space-evenly;
}
.food,
.print,
.grocery,
.laundry {
  border-radius: 100%;
  height: 70px;
  width: 70px;
}
.carousel-item {
  height: 25vh;
  overflow: hidden;
}
.imgShadow {
  -webkit-box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 1);
}
.serviceTypeHeader {
  padding: 0.5rem;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
.serviceTypeText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.serviceTypeBorder {
  border-top: 1px solid #cccccc;
}
.serviceContainer {
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0;
  flex-wrap: wrap;
  width: 100% !important;
}
.serviceImgContanier {
  height: 100%;
  overflow: hidden;
}
.serviceImg {
  width: 100%;
}
.serviceCardHeaderWrapper {
  position: relative;
}
.servicecard {
  font-family: "Poppins", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
}
.heading {
  width: 100%;
}
.headingText {
  font-size: 1.5rem;
  font-weight: 600;
}
.imgContainer {
  background: transparent !important;
}
.subHeadingText {
  font-weight: 600;
  line-height: 1.5;
}
.imgContainer {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.profileImg {
  width: 40px;
  height: 40px;
}
.textContainer {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-transform: lowercase;
  margin-left: 10px;
}
.headerContainer {
  border-radius: 20px;
  margin: 0 15px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgb(51 108 221 / 86%);
}
.imgContainer:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.cardImg {
  width: 140px;
  height: 100px;
  object-fit: cover;
  border-radius: 16px;
}
.cardContainer {
  background: #bfefbb;
  border-radius: 16px;
}
.cardHeading {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.active {
  color: green;
}
.in-active {
  color: red;
}
.cardTextContainer {
  padding: 0.5rem;
  margin-left: 1rem;
}
.cardContainer {
  box-shadow: 0 0 10px 0 rgb(51 108 221 / 86%);
}
.cardImgContainer:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.cardSubHeading {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-transform: lowercase;
}

.loader {
  position: absolute;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
}

.loader div {
  height: 100%;
}

.loader1,
.loader1 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  -webkit-animation: rotate1076 linear 3.5s infinite;
  animation: rotate1076 linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 255, 0.5);
}

.loader,
.loader * {
  will-change: transform;
}

@-webkit-keyframes rotate1076 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate1076 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* desktop version */
.bannerImg {
  width: 100%;
  height: 200px;
  object-fit: fill;
}
.card {
  border: 1px solid #cccccc;
  border-radius: 15px;
  margin: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
}
.cardImgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
      box-shadow: 3px 6px 20px 0px rgb(0 0 0 / 10%);

}
.mainText {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: blue;
  text-transform: uppercase;
}
.cardTitleContainer{
  font-family: 'Roboto', sans-serif;
}
.cardTitle{
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
}
.cardSubTitle{
  font-size: 15px;
  color: blue;
  text-transform: lowercase;
}
.green{
  color: green;
}
/* .card :hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
} */

/* .cardRatingValue:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
} */
.fa-star:hover{
  color: #f1c40f;
  transform: translateY(2px);
  transition: all 0.5s ease;
}
.cardImgContainer:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.red{
  color: red;
}