<div class="container-fluid p-0">
  <div class="headerContainer mt-2 d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column textContainer">
        <span class="">{{greeting}}</span>
        <span class="">{{userName}}</span>
    </div>
    <div class="imgContainer mx-3">
      <img class="profileImg" src="data:image/png;base64,{{ userIcon }}" alt="" />
    </div>
  </div>
</div>
<div class="serviceTypeHeader">
  <span class="serviceTypeText d-flex flex-row">
    <span> Services </span>
    <div class="serviceTypeBorder"></div>
  </span>
</div>
<div class="serviceContainer column">
</div>
<div class="container-fluid p-3">
  <div (click)="redirect('/print')" class="cardContainer align-items-center p-3 d-flex">
    <div class="cardImgContainer">
      <img class="cardImg" src="./assets/5130798.jpg" alt="">
    </div>
    <div class="cardTextContainer p-2">
      <div class="cardHeading">Print</div>
      <div class="cardServiceStatus">
        <div class="statusClass"></div>
        <span>
          <i class="fa-solid active fa-circle"></i>
          <span class="mx-2">active</span>
          
        </span>
      </div>
      <div>Go to service</div>
    </div>
  </div>
</div>
<div style="
    display: flex;
    justify-content: center;
" class="container-fluid">
  <div class="loader loader1">
    <div>
      <div>
        <div>
          <div>
            <div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="loader loader2">
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="loader loader3">
    <div>
      <div>
        <div>
          <div>
            <div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="loader loader4">
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
