<div class="container-fluid">

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Mobile</th>
            <!-- <th scope="col">Customer email</th> -->
            <th scope="col">Customer address</th>
            <!-- <th scope="col">amount</th> -->
            <!-- <th scope="col">latitude</th>
            <th scope="col">longitutde</th> -->
            <th scope="col">open map</th>
            <!-- <th scope="col">customer_email</th> -->
            <!-- <th scope="col">customer_mobile</th> -->
            <!-- <th scope="col">customer_name</th> -->
            <th scope="col">status</th>
            <th scope="col">payment status</th>
            <!-- <th scope="col">couponCode</th> -->
            <!-- <th scope="col">coupon Discount</th> -->
            <th scope="col">paymentMode</th>
            <th scope="col">amount</th>
            <th scope="col">order Details</th>
            <th scope="col">update status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let item of laundryOrderDetails; index as i">
            <td>{{ laundryOrderDetails[i][0].laundryOrderRequestTxnId }}</td>
            <td>{{ laundryOrderDetails[i][0].customer_name }}</td>
            <td>{{ laundryOrderDetails[i][0].customer_mobile }}</td>
            <!-- <td>{{ laundryOrderDetails[i][0].customer_email }}</td> -->
            <td>{{ laundryOrderDetails[i][0].customer_address}}</td>
            <!-- <td>{{ laundryOrderDetails[i][0].amount }}</td> -->
            <td><button type="button" class="btn btn-primary" (click)="openGoogleMaps(laundryOrderDetails[i][0].latitude,laundryOrderDetails[i][0].longitude)">click</button></td>
            <!-- <td>{{ laundryOrderDetails[i][0].latitude}}</td>
            <td>{{ laundryOrderDetails[i][0].longitude}}</td> -->
            <!-- <td>{{ laundryOrderDetails[i][0].customer_email }}</td> -->
            <!-- <td>{{ laundryOrderDetails[i][0].customer_mobile }}</td> -->
            <!-- <td>{{ laundryOrderDetails[i][0].customer_name }}</td> -->

            <td>
              <!-- {{ laundryOrderDetails[i][0].status }} -->

              <span *ngIf="laundryOrderDetails[i][0].status==0">pending</span>
              <span *ngIf="laundryOrderDetails[i][0].status==1">accepted</span>
              <span *ngIf="laundryOrderDetails[i][0].status==2">pickup</span>
              <span *ngIf="laundryOrderDetails[i][0].status==3">processing</span>
              <span *ngIf="laundryOrderDetails[i][0].status==4">completed</span>
              <span *ngIf="laundryOrderDetails[i][0].status==5">out for delivery</span>
              <span *ngIf="laundryOrderDetails[i][0].status==6">delivered</span>
            </td>
            <td>{{ laundryOrderDetails[i][0].paymentStatus }}</td>
            <!-- <td>{{ laundryOrderDetails[i][0].couponCode }}</td> -->
            <!-- <td>{{ laundryOrderDetails[i][0].couponDiscount }}</td> -->
            <td>{{ laundryOrderDetails[i][0].paymentMode }}</td>
            <td>{{ laundryOrderDetails[i][0].finalAmountAfterDiscount }}</td>

            <td>
              <!-- <button (click)="showtable(i)">show</button> -->
              <p-button
                (click)="showDialog(i)"
                icon="pi pi-external-link"
                label="Show"
              ></p-button>
            </td>
            <td>
              <!-- <button (click)="updateStatus(laundryOrderDetails[i][0].status,laundryOrderDetails[i][0].laundryOrderRequestTxnId)" type="button" class="btn btn-primary">Update</button> -->
              <!-- <p-dropdown [options]="cities" (ngModelChange)="function()" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
              <select class="my-dropdown" (change)="onDropdownChange($event,laundryOrderDetails[i][0].laundryOrderRequestTxnId)">
                <option value="-1">select order status</option>
                <option value=0>pending</option>
                <option value=1>accepted</option>
                <option value=2>pickup</option>
                <option value=3>processing</option>
                <option value=4>completed</option>
                <option value=5>out for delivery</option>
                <option value=6>delivered</option>
              </select>
              <!-- <div class="card flex justify-content-center">
              </div> -->
            </td>
            <!-- <td>

            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card flex justify-content-center">
    <p-dialog header="Order Details" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="true" [resizable]="true">
      <div *ngFor="let item of laundryOrderDetails; index as i">
        <div *ngIf="i == showtableindex" class="tableContainer">

          <table class="w-100" >
            <thead>
              <tr>
                <th scope="col">amount</th>
                <th scope="col">clothType</th>
                <th scope="col">clothTypeSection</th>
                <th scope="col">quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of laundryOrderDetails[i][1]; index as j">
                <td>{{ laundryOrderDetails[i][1][j].amount }}</td>
                <td>{{ laundryOrderDetails[i][1][j].clothType }}</td>
                <td>{{ laundryOrderDetails[i][1][j].clothTypeSection }}</td>
                <td>{{ laundryOrderDetails[i][1][j].quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </p-dialog>
  </div>
  <!-- <div class="card flex justify-content-center">
    <p-dropdown [options]="cities" [(ngModel)]="selectedStatus" optionLabel="name"></p-dropdown>
  </div> -->
