.header, .background{
    height: 100vh !important;
    width: 100% !important;
    overflow: hidden;
    margin:0;
}

@media screen and (max-width: 922px) {
     .hide-m-s{
        display: none;
     }
    
}
.cover{
    background: url(forgot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0.9;
    
}
a:hover{
    text-decoration: none;
}