<div class="d-flex row header align-items-center">
  <app-side-banner class="col-6 p-0 m-0 "></app-side-banner>
  <div class="d-flex justify-content-center col-6 ">
    <div class="col-12 p-0">
      <div class="d-flex justify-content-center">
        <div class="col-8">
          <div *ngIf="!verified">


            <div class="heading-text d-flex justify-content-center my-2">
              <span class="text-dark fs-3 fw-semibold">Create an account</span>
            </div>
            <div
              class="col-12 row align-items-center m-0 justify-content-center my-2"
            >
              <div class="col-1 m-0 p-0">
                <i class="fas fa-user fa-lg fa-fw"></i>
              </div>
              <div class="col-11 d-flex p-0 justify-content-between ">
                <span class="p-float-label col-6">
                  <input
                    id="a"
                    type="text"
                    [style]="{ width: '100%' }"
                    pInputText
                    [(ngModel)]="name"
                  />
                  <label for="a">First Name</label>
                </span>
                <span class="p-float-label col-6">
                  <input
                    id="a"
                    type="text"
                    [style]="{ width: '100%' }"
                    pInputText
                    [(ngModel)]="name2"
                  />
                  <label for="a">Last Name</label>
                </span>
              </div>
            </div>
            <div
              class="col-12 row align-items-center m-0 justify-content-center my-2"
            >
              <div class="col-1 m-0 p-0">
                <i class="fas fa-envelope fa-lg fa-fw"></i>
              </div>
              <div
                class="p-float-label col-11 d-flex p-0 justify-content-between "
              >
                <input
                  id="b"
                  type="text"
                  [style]="{ width: '100%' }"
                  pInputText
                  [(ngModel)]="email"
                />
                <label for="b">Email</label>
              </div>
            </div>
            <div
              class="col-12 row align-items-center m-0 justify-content-center my-2"
            >
              <div class="col-1 m-0 p-0">
                <i class="fas fa-lock fa-lg fa-fw"></i>
              </div>
              <span class="col-11 d-flex p-0 justify-content-between ">
                <p-password
                  class=" flex-grow-1"
                  [style]="{ width: '100%' }"
                  [inputStyle]="{ width: '100%' }"
                  [(ngModel)]="pass"
                  [toggleMask]="true"
                  placeholder="Password"
                >
                  <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="p-mt-2">Suggestions</p>
                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>Minimum 8 characters</li>
                    </ul>
                  </ng-template>
                </p-password>
              </span>
            </div>
            <div
              class="col-12 row align-items-center m-0 justify-content-center my-2"
            >
              <div class="col-1 m-0 p-0">
                <i class="fas fa-phone fa-lg fa-fw fa-rotate-90"></i>
              </div>
              <span
                class="p-float-label col-11 d-flex p-0 justify-content-between "
              >
                <input
                  id="d"
                  type="text"
                  [style]="{ width: '100%' }"
                  pInputText
                  [(ngModel)]="phoneNumber"
                />
                <label for="d">Phone</label>
              </span>
            </div>
            <div class="form-check my-2">
              <input
                class="form-check-input me-2 "
                type="checkbox"
                value=""
                id="form2Example3c"
              />
              <label class="form-check-label" for="form2Example3">
                I agree all statements in <a href="#">Terms of service</a>
              </label>
            </div>
            <div class="row col-12 m-0 justify-content-center mb-3 mb-lg-4 my-2">
              <button
                pButton
                pRipple
                [style]="{ width: '50%' }"
                type="button"
                label="Login"
                (click)="getOTP()"
              ></button>
  
              <div id="sign-in-button"></div>
              
            </div>
          </div>
          
          <div *ngIf="verified" class="row col-12 m-0 justify-content-center mb-3 mb-lg-4 my-2">
            <div class="otp">
    
              <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
              <button (click)="handleClick()" class="btn btn-success mt-4">Verify Otp</button>
          </div>
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



