<div class="container-fluid">
    <p-table [responsive]="true" [value]="paymentList">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th >client_txn_id</th>
                <th>amount</th>
                <th>order_id</th>
                <th>p_info</th>
                <th>pdf_id_array</th>
                <th>payment_status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
            <tr class="border-bottom">
                <td>{{ payment.id }}</td>
                <!-- <td>{{ pdf.user_id }}</td> -->
                <td>{{ payment.client_txn_id }}</td>
                <td>{{ payment.amount}}</td>
                <td>{{ payment.order_id}}</td>
                <td>{{ payment.p_info}}</td>
                <td>{{ payment.pdf_id_array }}</td>
                <td>{{ payment.payment_status }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>