<div class="container">
  <header
    [ngStyle]="{
      display: currentRoute === '/dashboard/services' || currentRoute === '/dashboard/print'|| currentRoute === '/dashboard/category'|| currentRoute === '/dashboard/payment'? '' : 'none'
    }"
  ></header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer"
    [ngStyle]="{
      display: currentRoute === '/dashboard/services' || currentRoute === '/dashboard/print'|| currentRoute === '/dashboard/category'|| currentRoute === '/dashboard/cart'|| currentRoute === '/dashboard/profile'|| currentRoute === '/dashboard/payment' ? '' : 'none'
    }"
  ></footer>
</div>
