/* .container{
    height: 100vh !important;
    width: 100% !important;
    padding: 0 !important;
}
.content{
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
} */

.container {
  height: 100vh !important;
  width: 100% !important;
  padding: 0 !important;
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000000;
}
.content {
  /* display: block; */
  margin-top: 48px;
  /* min-height: calc(100vh - 48px); */
  /* overflow-y: auto; */
}
.footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}
