<div class="container-fluid">
  <!-- Header Container -->
  <div
    class="headerTextContainer d-flex flex-row justify-content-center align-items-center"
  >
    <div class="headerText">our services</div>
  </div>
  <!-- service card Container -->
  <div class="serviceCardContainer">
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Dry cleaning is a process where garments are cleaned using a
            chemical solvent. We use Hydro Carbon machine, to process your
            Delicate garments!
          </div>
        </div>
      </div>
    </div>
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
            possimus in iure nisi, fugit commodi culpa ipsam earum dolorem
            inventore vero doloribus alias! Magnam atque alias reprehenderit
            nemo expedita ullam doloremque? Quia, magnam nesciunt incidunt,
            neque distinctio eum veniam recusandae modi molestias rem, porro
            atque iure eligendi quaerat minima dolorem!
          </div>
        </div>
      </div>
    </div>
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
            possimus in iure nisi, fugit commodi culpa ipsam earum dolorem
            inventore vero doloribus alias! Magnam atque alias reprehenderit
            nemo expedita ullam doloremque? Quia, magnam nesciunt incidunt,
            neque distinctio eum veniam recusandae modi molestias rem, porro
            atque iure eligendi quaerat minima dolorem!
          </div>
        </div>
      </div>
    </div>
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
            possimus in iure nisi, fugit commodi culpa ipsam earum dolorem
            inventore vero doloribus alias! Magnam atque alias reprehenderit
            nemo expedita ullam doloremque? Quia, magnam nesciunt incidunt,
            neque distinctio eum veniam recusandae modi molestias rem, porro
            atque iure eligendi quaerat minima dolorem!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="priceCardContainerWrapper p-0 p-sm-2 p-lg-4">
    <div
      class="priceCardContainer row m-0 d-flex justify-content-start align-items-start"
    >
      <div
        *ngFor="let section of clothesData"
        class="priceCard my-3 col-12 px-0 px-sm-3 col-lg-4"
      >
        <div class="priceCardWrapper px-0 py-2 p-sm-2">
          <div class="priceCardTitle">
            {{ section.sectionName }}
          </div>
          <div class="priceCardPriceDetails w-100">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cloth of section.clothes">
                    <th scope="row">{{ cloth.typeName }}</th>
                    <td>{{ cloth.price | currency : "INR" : true }}</td>
                    <td>
                      <div class="btnWrapper">
                        <button
                          class="btn btn-primary btn-sm"
                          (click)="addCloth(cloth)"
                        >
                          Add
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="bottomContainer row m-0 p-0" *ngIf="addedClothes.length > 0">
    <div class="addedClothContainer col-12 d-flex flex-column col-lg-6">
      <div class="subHeaderText text-center">Added Clothes</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cloth</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Price</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let addedCloth of addedClothes">
              <th scope="row">{{ addedCloth.typeName }}</th>
              <td>{{ addedCloth.price | currency : "INR" : true }}</td>
              <td>{{ addedCloth.quantity }}</td>
              <td>
                {{
                  addedCloth.price * addedCloth.quantity
                    | currency : "INR" : true
                }}
              </td>
              <td>
                <div class="btnWrapper">
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="removeCloth(addedCloth)"
                  >
                    Remove
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="d-flex flex-column col-12 col-lg-6 align-items-center jusitfy-content-center formContainer"
    >
      <div class="formInputWrapper col-12">
        <div class="subHeaderText text-center">Schedule Pickup Now</div>
        <div class="addressContainer">
          <label for="completeAddress" class="form-label">ADDRESS</label>
          <input
            type="text"
            id="completeAddress"
            name="completeAddress"
            placeholder="Enter your address"
            [(ngModel)]="completeAddress"
            class="input"
          />
        </div>
        <div class="liveLocationContainer d-flex justify-content-between row">
          <div class="col-12 col-sm-6 my-2 my-sm-0">
            <button class="btn btn-primary w-100" (click)="fetchLocation()">
              Verify Live Location
            </button>
          </div>
          <div class="locationDetailsBtnContainer my-2 my-sm-0 col-12 col-sm-6">
            <div *ngIf="!liveLocationFetch" class="redButton col-12">
              <button disabled type="button" class="btn btn-danger w-100">
                Location Not verified
              </button>
            </div>
            <div *ngIf="liveLocationFetch" class="greenButton col-12">
              <button disabled type="button" class="btn btn-success w-100">
                Location verified
              </button>
            </div>
          </div>
        </div>
        <div class="preferredTimeDateContainer row">
          <div class="preferredTimeContainer col-6">
            <label for="preferredTime" class="label">Preferred Time:</label>
            <input
              type="time"
              id="preferredTime"
              name="preferredTime"
              [(ngModel)]="preferredTime"
              class="input"
            />
          </div>
          <div class="preferredDateContainer col-6">
            <label for="preferredDate" class="label">Preferred Date:</label>
            <input
              type="date"
              id="preferredDate"
              name="preferredDate"
              [(ngModel)]="preferredDate"
              class="input"
            />
          </div>
        </div>
        <div class="paymentModeSelector">
          <label for="paymentMode" class="label">Payment Mode:</label>
          <select
            id="paymentMode"
            name="paymentMode"
            [(ngModel)]="paymentMode"
            (ngModelChange)="paymentModeChange()"
            class="input"
          >
            <option value="cash">CASH</option>
            <option value="upi">UPI</option>
          </select>
        </div>
        <div *ngIf="paymentMode == 'upi'" class="couponCodeSelectionContainer">
          <div class="form-label">
            Selected Coupon: {{ selectedCoupon?.code || "None" }}
          </div>
          <label class="form-label" for="couponCode">Coupon Code:</label>
          <select
            class="input"
            id="couponCode"
            [(ngModel)]="selectedCouponCode"
          >
            <option *ngFor="let coupon of coupons" [value]="coupon.code">
              {{ coupon.code }}
            </option>
          </select>
          <button class="btn btn-primary" (click)="selectCoupon()">
            Apply Coupon
          </button>
        </div>
        <div class="priceDisplayContainer">
          <div class="form-label">Total Amount: {{ totalPrice }}</div>
          <div class="form-label">Discounted Amount: {{ discountPrice }}</div>
          <div class="form-label">Final Amount: {{ finalPrice }}</div>
        </div>
        <div class="btnContainer d-flex justify-content-center">
          <button (click)="placeOrder()" class="btn btn-success">
            Place Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
