<div class="container-fluid">
  <!-- Header Container -->
  <div
    class="headerTextContainer d-flex flex-row justify-content-center align-items-center"
  >
    <div class="headerText">our services</div>
  </div>
  <!-- service card Container -->
  <div class="serviceCardContainer">
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Dry cleaning is a process where garments are cleaned using a
            chemical solvent. We use Hydro Carbon machine, to process your
            Delicate garments!
          </div>
        </div>
      </div>
    </div>
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
            possimus in iure nisi, fugit commodi culpa ipsam earum dolorem
            inventore vero doloribus alias! Magnam atque alias reprehenderit
            nemo expedita ullam doloremque? Quia, magnam nesciunt incidunt,
            neque distinctio eum veniam recusandae modi molestias rem, porro
            atque iure eligendi quaerat minima dolorem!
          </div>
        </div>
      </div>
    </div>
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
            possimus in iure nisi, fugit commodi culpa ipsam earum dolorem
            inventore vero doloribus alias! Magnam atque alias reprehenderit
            nemo expedita ullam doloremque? Quia, magnam nesciunt incidunt,
            neque distinctio eum veniam recusandae modi molestias rem, porro
            atque iure eligendi quaerat minima dolorem!
          </div>
        </div>
      </div>
    </div>
    <div class="serviceCardWrapper col-lg-3 col-md-4 col-12 col-sm-6 p-2">
      <div class="serviceCard p-2">
        <div
          class="serviceCardImgContainer d-flex align-items-center justify-content-center"
        >
          <img
            class="serviceCardImg"
            src="assets/2101.i039.007.laundry washing isometric.jpg"
            alt="image"
          />
        </div>

        <div class="serviceCardTextContainer">
          <div class="serviceCardText d-flex justify-content-center">
            Dry Cleaning
          </div>
          <p-divider></p-divider>
          <div class="serviceCardSubText">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
            possimus in iure nisi, fugit commodi culpa ipsam earum dolorem
            inventore vero doloribus alias! Magnam atque alias reprehenderit
            nemo expedita ullam doloremque? Quia, magnam nesciunt incidunt,
            neque distinctio eum veniam recusandae modi molestias rem, porro
            atque iure eligendi quaerat minima dolorem!
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Instincts laundary Service Start -->
  <div
    class="instinctsLaundryServiceHeaderContainer d-flex justify-content-center"
  >
    <div class="instinctsLaundryServiceSubText">Why Instincts ?</div>
  </div>
  <div
    class="aboutContainer d-flex flex-row justify-content-center align-items-center"
  >
    <div class="d-flex flex-column justify-content-between">
      <div
        class="listItems d-flex flex-row align-items-center justify-content-end left_li_1"
      >
        <div class="px-2 mx-2 instinctsLaundrySubText">QUICK SERVICE</div>
        <div class="px-2 instinctsLaundryLefttItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/QUICK_SERVICE.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-end left_li_2"
      >
        <div class="px-2 mx-2 instinctsLaundrySubText">
          DOORSTEP PICK UP AND DROP
        </div>
        <div class="px-2 instinctsLaundryLefttItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/DOORSTEP_PICK_UP_AND_DROP.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-end left_li_3"
      >
        <div class="px-2 mx-2 instinctsLaundrySubText">
          AFFORDABLE PER KILO PRICING
        </div>
        <div class="px-2 instinctsLaundryLefttItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/affordable_per_kilo_pricing.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-end left_li_4"
      >
        <div class="px-2 mx-2 instinctsLaundrySubText">
          STATE-OF-THE-ART TECHNOLOGY
        </div>
        <div class="px-2 instinctsLaundryLefttItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/STATE_OF_THE_ART_TECHNOLOGY.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-end left_li_5"
      >
        <div class="px-2 mx-2 instinctsLaundrySubText">
          WE SAVE WATER WITH EVERY WASH
        </div>
        <div class="px-2 instinctsLaundryLefttItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/WE_SAVE_WATER-WITH_EVERY_WASH_CYCLE.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
    <div>
      <div>
        <img src="/assets/logoCopy.jpg" alt="" srcset="" />
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between">
      <div
        class="listItems d-flex flex-row align-items-center justify-content-start right_li_1"
      >
        <div class="px-2 instinctsLaundryRightItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/PROFESSIONAL_CLEANING.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="px-2 mx-2 instinctsLaundrySubText">
          PROFESSIONAL CLEANING
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-start right_li_2"
      >
        <div class="px-2 instinctsLaundryRightItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/GREEN_CERTIFIED_DETERGENTS.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="px-2 mx-2 instinctsLaundrySubText">
          GREEN-CERTIFIED DETERGENTS
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-start right_li_3"
      >
        <div class="px-2 instinctsLaundryRightItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/ONDEMAND_EXPRESS_SERVICE_AVAILABLE.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="px-2 mx-2 instinctsLaundrySubText">
          ON-DEMAND SERVICE ALSO AVAILABLE
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-start right_li_4"
      >
        <div class="px-2 instinctsLaundryRightItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/100_SANITIZED_and_MACHINE_DRY.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="px-2 mx-2 instinctsLaundrySubText">
          100% SANITIZED CLOTHES
        </div>
      </div>
      <div
        class="listItems d-flex flex-row align-items-center justify-content-start right_li_5"
      >
        <div class="px-2 instinctsLaundryRightItemContainer">
          <img
            class="instinctsLaundryItemImage"
            width="100px"
            height="100px"
            src="/assets/laundryImage/CUSTOM_PACKAGING_FOLD_OR_HANGI.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="px-2 mx-2 instinctsLaundrySubText">
          CUSTOM PACKAGING FOLD OR HANG!
        </div>
      </div>
    </div>
  </div>
  <!-- add cloth section start -->
  <div class="add-section-form">
    <h3>Create Section</h3>
    <form (ngSubmit)="onCreateSectionSubmit()">
      <label for="sectionName">Name:</label>
      <input
        type="text"
        id="sectionName"
        name="sectionName"
        [(ngModel)]="newSectionName"
      />

      <button type="submit">Create Section</button>
    </form>
  </div>
  <!-- add cloth section ends -->
  <!-- cloth section list start -->
  <div class="cloth-section-list">
    <h3>Sections</h3>
    <ul>
      <li *ngFor="let section of sections">
        <div class="cloth-section-list-item">
          <div class="cloth-section-list-item-name">
            {{ section.sectionName }}
          </div>
          <div class="cloth-section-list-item-action">
            <button
              class="btn btn-danger"
              (click)="onDeleteSectionClick(section.id)"
            >
              Delete
            </button>
          </div>
        </div>
      </li>
    </ul>
    <!-- cloth section list end -->
    <!-- add cloth start -->
    <div class="add-cloth-form">
      <h3>Add Cloth to Section</h3>
      <form (ngSubmit)="onAddClothSubmit()">
        <label for="clothName">Name:</label>
        <input
          type="text"
          id="clothName"
          name="clothName"
          [(ngModel)]="newClothName"
        />
        <label for="clothPrice">Price:</label>
        <input
          type="number"
          id="clothPrice"
          name="clothPrice"
          [(ngModel)]="newClothPrice"
        />
        <label for="section">Section:</label>
        <select id="section" name="section" [(ngModel)]="selectedSection">
          <option
            *ngFor="let section of sections"
            [value]="section.sectionName"
          >
            {{ section.sectionName }}
          </option>
        </select>

        <button type="submit">Add Cloth</button>
      </form>
    </div>
    <button (click)="getAllCloth()">get cloth details</button>

    <!-- add cloth end -->
    <!-- Instincts laundary Service ends -->

    <!-- <h2>Clothes Prices</h2>

  <div *ngFor="let section of clothesData">
    <h3>{{ section.sectionName }}</h3>
    <ul>
      <li *ngFor="let cloth of section.clothes">
        {{ cloth.typeName }} - {{ cloth.price | currency : "INR" : true }}
        <button (click)="addCloth(cloth)">Add</button>
      </li>
    </ul>
  </div> -->
    .

    <!--  -->
    <div class="priceCardContainerWrapper p-2 p-lg-4">
      <div
        class="priceCardContainer row m-0 d-flex justify-content-start align-items-start"
      >
        <div
          *ngFor="let section of clothesData"
          class="priceCard my-3 col-12 px-3 col-lg-4"
        >
          <div class="priceCardWrapper p-2">
            <div class="priceCardTitle">
              {{ section.sectionName }}
            </div>
            <div class="priceCardPriceDetails w-100">
              <div class="row m-0 priceListTableHeaderText">
                <div class="col-6 d-flex justify-content-start">Item</div>
                <div class="col-4 d-flex justify-content-center">Price</div>
                <div class="col-2 d-flex justify-content-center">Add</div>
                <!-- <div class="col-2 d-flex justify-content-center">delete</div> -->
              </div>
              <div class="priceListTableWrapper">
                <div
                  *ngFor="let cloth of section.clothes"
                  class="row m-0 my-2 priceListItem"
                >
                  <div class="col-6 d-flex justify-content-start">
                    {{ cloth.typeName }}
                  </div>
                  <div class="col-4 d-flex justify-content-center">
                    {{ cloth.price | currency : "INR" : true }}
                  </div>
                  <div class="col-2 d-flex justify-content-center">
                    <div class="btnWrapper">
                      <button (click)="addCloth(cloth)">Add</button>
                    </div>
                    <!-- <div class="btnWrapper">
                    <button (click)="deleteCloth(cloth.id)">delete</button>
                  </div> -->
                  </div>
                </div>
              </div>
              <!-- <table>
              <thead>
                <tr>
                  <th>item</th>
                  <th>price</th>
                  <th>button</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let cloth of section.clothes">
                    <td >{{cloth.typeName}}</td>
                    <td >{{cloth.price| currency : "INR" : true }}</td>
                    <td ><button (click)="addCloth(cloth)">Add</button></td>
                  </tr>
              </tbody>
            </table> -->
              <!-- <p-table [value]="section.clothes" styleClass="p-datatable-gridlines" >
              <ng-template pTemplate="header">
                  <tr>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Category</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                  <tr>
                      <td>{{ product.typeName }}</td>
                      <td>{{ product.price| currency : "INR" : true  }}</td>
                      <td><button (click)="addCloth(product)">Add</button></td>
                  </tr>
              </ng-template>
          </p-table> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div *ngIf="addedClothes.length > 0">
      <h2>Added Clothes</h2>
      <table>
        <thead>
          <tr>
            <th>Cloth</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let addedCloth of addedClothes">
            <td>{{ addedCloth.typeName }}</td>
            <td>{{ addedCloth.price | currency : "INR" : true }}</td>
            <td>{{ addedCloth.quantity }}</td>
            <td>
              {{
                addedCloth.price * addedCloth.quantity | currency : "INR" : true
              }}
            </td>
            <td>
              <div class="btnWrapper">
                <button (click)="removeCloth(addedCloth)">Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <p-table [value]="addedClothes" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.typeName }}</td>
              <td>{{ product.price| currency : "INR" : true  }}</td>
              <td>{{ product.quantity }}</td>
          </tr>
      </ng-template>
  </p-table> -->
    </div>

    <!-- cloth pricing section ends -->
    <!-- location start -->
    <!-- <div>
    <label>Address</label>
    <input type="text" [(ngModel)]="address" name="address" />
  </div> -->

    <!-- <div>
    <input type="radio" [(ngModel)]="useManualAddress" name="addressType" value="manual" /> Manual Address
    <input type="radio" [(ngModel)]="useManualAddress" name="addressType" value="live" /> Live Location
  </div> -->
    <!-- <div *ngIf="useManualAddress">
    <label>Address</label>
    <input type="text" [(ngModel)]="address" name="address" />
  </div>
  <div *ngIf="!useManualAddress">
    <button (click)="fetchLocation()">Get Live Location</button>
  </div> -->

    <!-- location end -->
    <!-- form start -->
    <div class="d-flex flex-column align-items-center jusitfy-content-center formContainer">
      <div class="formInputWrapper col-12 col-md-6 col-lg-4">
        <label for="completeAddress" class="label">Complete Address:</label>
        <input
          type="text"
          id="completeAddress"
          name="completeAddress"
          [(ngModel)]="completeAddress"
          class="input"
        />
        <div class="liveLocationContainer">
          <button (click)="fetchLocation()">Get Live Location</button>
          <div class="locationDetailsContainer">
            <div class="locationDetails">
              <label for="latitude" class="label">Latitude:</label>
              <div>{{latitude}}</div>
              <button></button>
            </div>
            <div class="locationDetails">
              <label for="longitude" class="label">Longitude:</label>
              {{longitude}}
            </div>
          </div>
        </div>
        <label for="preferredTime" class="label">Preferred Time:</label>
        <input
          type="time"
          id="preferredTime"
          name="preferredTime"
          [(ngModel)]="preferredTime"
          class="input"
        />

        <label for="preferredDate" class="label">Preferred Date:</label>
        <input
          type="date"
          id="preferredDate"
          name="preferredDate"
          [(ngModel)]="preferredDate"
          class="input"
        />
        <div class="btnContainer d-flex justify-content-center">
          <button (click)="placeOrder()" class="place-order-btn">
            Place Order
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="calendar-container" *ngIf="true">
    <ngb-datepicker [(ngModel)]="preferredDate"></ngb-datepicker>
  </div> -->
    <!-- form ends -->
  </div>
</div>
