<div class="container-fluid p-0">
  <!-- <div class="imgContainer">
        <img src="/assets/3226801.jpg" alt="" srcset="">
    </div> -->
  <div class="header mt-4">
      <span (click)="navigateback()" class="col-4 arrowContainer"><i class="fa-solid fa-arrow-left mx-4"></i></span>
    <span>About Us</span>
  </div>
  <div class="headerContentContainer">
    <div class="headerLogo d-flex justify-content-center">
      <img style="
    width: 240px;
" src="/assets/instinctsTransparentLogo.png" alt="" srcset="" />
    </div>
    <div class="headerContent subtitle p-3">
      <!-- <span>Welcome</span>
      <span>I’m Anshu Abhishek, CEO of Instincts.</span> -->
      <div class="my-1">
        Our mission is to revolutionize the delivery of student services by offering a range of affordable and high-quality
        services through our innovative e-tender startup
      </div>
      <div class="my-1">
        Our team of experts is committed to providing students with professional and streamlined services that eliminate the
        hassles of traditional and disorganized systems found in many colleges
      </div>
      <div class="my-1">
        We believe in bringing professionalism to the forefront by simplifying the process of obtaining daily services that
        students need, and we're confident that our app will deliver the best possible experience to our customers
      </div>
    </div>
    <div class="cardContainer d-flex justify-content-center">
      <div class="card p-4">
        <div class="cardImg">
          <img
            style="height: 200px; width: 200px; border-radius: 100%"
            src="/assets/anshuImgLogo.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="title">Anshu Abhishek</div>
        <div class="subtitle">Founder</div>
      </div>
    </div>
    <div class="container-fluid subHeader">core members</div>
    <div class="cardContainerMember d-flex justify-content-center flex-wrap">
        <div class="cardMember p-4">
            <div class="cardImgMember">
                <img style="height: 100px; width: 100px; border-radius: 100%" src="/assets/harsh.jpeg" alt=""
                    srcset="" />
            </div>
            <!-- <div class="title">Anshu Abhishek</div> -->
            <div class="subtitle">Harsh</div>
        </div>
        <div class="cardMember p-4">
            <div class="cardImgMember">
                <img style="height: 100px; width: 100px; border-radius: 100%" src="/assets/sonam.jpeg" alt="" srcset="" />
            </div>
            <!-- <div class="title">Anshu Abhishek</div> -->
            <div class="subtitle">Sonam</div>
        </div>
        <div class="cardMember p-4">
            <div class="cardImgMember">
                <img style="height: 100px; width: 100px; border-radius: 100%" src="/assets/rahul.jpeg" alt="" srcset="" />
            </div>
            <!-- <div class="title">Anshu Abhishek</div> -->
            <div class="subtitle">Rahul</div>
        </div>
        <!-- <div class="cardMember p-4">
            <div class="cardImgMember">
                <img style="height: 100px; width: 100px; border-radius: 100%" src="/assets/anshuImgLogo.jpg" alt="" srcset="" />
            </div>
            <div class="subtitle">Sonam</div>
        </div>
        <div class="cardMember p-4">
            <div class="cardImgMember">
                <img style="height: 100px; width: 100px; border-radius: 100%" src="/assets/anshuImgLogo.jpg" alt="" srcset="" />
            </div>
            <div class="subtitle">Sonam</div>
        </div> -->
    </div>
  </div>
</div>
