<div class="container">
  <div class="contentBox">
    <div class="logoContainer">
      <img style="height: 80px" src="assets/logo.png" alt="" />
    </div>
    <div class="header">
      <h3 class="headerText">Sign in</h3>
    </div>
    <div class="inputWrapper">
      <div class="inputContainer my-2">
        <i class="fa-solid fa-envelope"></i>
        <span class="p-float-label">
          <input id="float-input" [(ngModel)]="value1" type="text" pInputText />
          <label for="float-input">Username</label>
        </span>
      </div>
      <div class="inputContainer my-2">
        <i class="fa-solid fa-lock"></i>
        <p-password [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}" [(ngModel)]="value2"></p-password>
      </div>
    </div>
    <div class="buttonContainer my-2">
      <button pButton type="submit" (click)="submitUser()">Sign in</button>
    </div>
    
  </div>
</div>
