<nav class="navbar navbar-expand-sm" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'" style="z-index:2"> 
    <img src="assets/logo1.png" width="200px" height="50px" class="logo">
    <ul class="navbar-item">
      <li class="nav-item active"><a class="nav-link" style="cursor: pointer;">Home</a></li>
      <li class="nav-item active"><a  class="nav-link">Total users: <span style="color:red">1000</span></a></li>
      <li class="nav-item active"><a  class="nav-link">Total sellers: <span style="color:red">50</span></a></li>
      <li class="nav-item active"><a  class="nav-link">Total admin:<span style="color:red">5</span></a></li>
      <li class="nav-item active"> <a href="#" class="nav-link">Logout <i class="fa-solid fa-arrow-right"></i></a></li>
    </ul>
  </nav>
<div class="container">
<div class="row">
    <div class="col-md-6 offset-md-3
    text-center">
       <h1 *ngIf="ans==1">PrintAdmin</h1>
       <h1 *ngIf="ans==2">FoodAdmin</h1>
       <h1 *ngIf="ans==3">LaundaryAdmin</h1>
       <h1 *ngIf="ans==4">DecorationAdmin</h1>
       <h1 *ngIf="ans==5">MedicineAdmin</h1>
       <h1 *ngIf="ans==6">GroceryAdmin</h1>
      
    </div>
    <hr>
</div>
    <div class="row">
      <div class="col-3">
        <label for="username">username</label>
        <input type="text" class="form-control" [(ngModel)]="username">
      </div>
      <div class="col-3">
        
          <label for="Password">Password</label>
          <input type="text" class="form-control" [(ngModel)]="password">
        
      </div>
      <div class="col-2">
        
        <label for="subadmin">Role</label>
        <select name="Subadmin" id="subadmin"  class="form-control"  [(ngModel)]="role">
        <option value="1" *ngIf="ans==1">PrintSeller</option>
          <option *ngIf="ans==2" value="2">FoodSeller</option>
          <option *ngIf="ans==3" value="3">LaundarySeller</option>
          <option *ngIf="ans==4" value="4">DecorationSeller</option>
          <option *ngIf="ans==5" value="5">MedicineSeller</option>
          <option *ngIf="ans==6" value="6">GrocerySeller</option>
        </select>
        
      </div>
      <div class="col-3">
        
          <label for="email_id">email_id</label>
          <input type="email" class="form-control" [(ngModel)]="email_id">
        
      </div>
      <div class="col-3">
        
          <label for="Password">Gst_id</label>
          <input type="text" class="form-control" [(ngModel)]="gst_no">
        
      </div>
      <div class="col-3">
        
          <label for="Password">Shop</label>
          <input type="text" class="form-control" [(ngModel)]="shop">
        
      </div>
      <div class="col-3">
        
          <label for="Password">contact</label>
          <input type="text" class="form-control" [(ngModel)]="contact">
        
      </div>
      <div class="col-2 mt-3" *ngFor="let perm of perm">
        <span *ngIf="perm.createseller_perm==1">
            <button class="mt-3 button" class="back" (click)="submit()">Add</button>
        </span>
        <span  *ngIf="perm.createseller_perm==0">
           
            <button class="mt-3 button" class="back" disabled>Not have permission</button>
        </span>
      </div>
  
  </div>
</div>

  <div  class="mt-2">
    
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>seller_ID</th>
      <th>username</th>
      <th>contact</th>
      <th>email_id</th>
      <th>shop</th>
      <th>Gst_id</th>
      <th>Delete Seller</th>
      
    </tr>
  </thead>
  <tbody>
      <tr  style="cursor: pointer;" *ngFor="let seller of seller">

        <td >{{seller.id_seller}}</td>
        <td >{{seller.username}}</td>
        <td >{{seller.contact}}</td>
        <td>{{seller.email_id}}</td>
        <td >{{seller.shop}}</td>
        <td >{{seller.gst_id}}</td>
        <td *ngFor="let perm of perm">
            <span *ngIf="perm.deleteseller_perm==1">
                <button class="mt-3 btn btn-danger"  (click)="DeleteSeller(seller)">Delete</button>
            </span>
            <span  *ngIf="perm.deleteseller_perm==0">
               
                <button class="mt-3 btn btn-danger" disabled>Not have permission</button>
            </span>
        </td>
      </tr>
    
</tbody></table>
</div>