<nav class="navbar navbar-light navbar-shadow border-bottom">
  <div class="logo"><img src="././assets/logo.png" /></div>
  <!-- <div class="options">
    <div class="icon" id="icon0">
      <a class="nav-link"><i class="fas fa-search fa-2x"></i></a>
    </div>
    <div class="icon" id="icon1">
      <a class="nav-link" href="#"><i class="fa-regular fa-heart fa-2x mt-0"></i></a>
    </div>
    <div class="icon" id="icon2">
      <a class="nav-link" href="#"><i class="fa-solid fa-dollar-sign fa-2x"></i></a>
    </div>
    <div class="icon" id="icon3">
      <a class="nav-link" href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
    </div>
  </div> -->
</nav>