<nav
  class="navbar navbar-light bg-light navbar-shadow border-bottom"
  style="padding: 0"
>
  <div class="container-fluid">
    <!-- <a class="nav-link active" aria-current="page" [routerLink]="['/home']"
      ><i class="nav-icon fas fa-2x fa-home"></i
    ></a> -->
    <P>Categories</P>
   
       <div class="icon" id="icon1">

           <a class="nav-link" href="#"
             ><i class="fa-regular fa-heart mt-0"></i></a>
       </div>
          
        <div class="icon" id="icon2">

            <a class="nav-link" href="#" 
              ><i class="fa-solid fa-dollar-sign"></i></a>
        </div>
    
    
  </div>
</nav>